.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__t1F25 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__pkgVg {
  flex-direction: column;
  display: flex;
}
.freeBox__pkgVg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pkgVg > :global(.__wab_flex-container) > *,
.freeBox__pkgVg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkgVg > :global(.__wab_flex-container) > picture > img,
.freeBox__pkgVg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__m0KIe {
  font-size: 48px;
}
.freeBox__xGouH {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xGouH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xGouH > :global(.__wab_flex-container) > *,
.freeBox__xGouH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xGouH > :global(.__wab_flex-container) > picture > img,
.freeBox__xGouH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__zDxbo:global(.__wab_instance) {
  position: relative;
}
.bullet__wu6OV:global(.__wab_instance) {
  position: relative;
}
.bullet__s6U3:global(.__wab_instance) {
  position: relative;
}
.freeBox__rHtuA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__rPrbB:global(.__wab_instance) {
  position: relative;
}
.svg___9R3Ay {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ry99L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___1NvAb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
