.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__rZqmB {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-TqmwpEiIe6YPPr);
}
.freeBox__sWr58 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-OPcIhLlJkjq482);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__sWr58 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__sWr58 > :global(.__wab_flex-container) > *,
.freeBox__sWr58 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sWr58 > :global(.__wab_flex-container) > picture > img,
.freeBox__sWr58
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWr58 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWr58 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sWr58 > :global(.__wab_flex-container) > *,
  .freeBox__sWr58 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sWr58 > :global(.__wab_flex-container) > picture > img,
  .freeBox__sWr58
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ms52B {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__ms52B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ms52B > :global(.__wab_flex-container) > *,
.freeBox__ms52B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ms52B > :global(.__wab_flex-container) > picture > img,
.freeBox__ms52B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__rUAf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ug5O {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox___7BMa0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___4Kpg {
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link___4Kpg:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__bbnfq {
  position: relative;
  font-size: 14px;
  color: var(--token-VrA-2HsDzer-Cl);
}
.link__fuXMb {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__fuXMb:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__b6Eg4 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__b6Eg4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__b6Eg4 > :global(.__wab_flex-container) > *,
.freeBox__b6Eg4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b6Eg4 > :global(.__wab_flex-container) > picture > img,
.freeBox__b6Eg4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b6Eg4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b6Eg4 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b6Eg4 > :global(.__wab_flex-container) > *,
  .freeBox__b6Eg4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__b6Eg4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__b6Eg4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__t4Fw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__t4Fw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t4Fw > :global(.__wab_flex-container) > *,
.freeBox__t4Fw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t4Fw > :global(.__wab_flex-container) > picture > img,
.freeBox__t4Fw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wlPPz {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__cXZoC {
  font-size: 14px;
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
}
.root .link__cXZoC:hover {
  color: var(--token-NEon4Y--Z);
}
.link__oVsX0 {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__oVsX0:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fv5A1 {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__fv5A1:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bls08 {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__bls08:hover {
  color: var(--token-NEon4Y--Z);
}
.link___06XMf {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link___06XMf:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__a2Rg8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__a2Rg8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a2Rg8 > :global(.__wab_flex-container) > *,
.freeBox__a2Rg8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a2Rg8 > :global(.__wab_flex-container) > picture > img,
.freeBox__a2Rg8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qzqTx {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___8N7Hr {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link___8N7Hr:hover {
  color: var(--token-NEon4Y--Z);
}
.link__uvUt6 {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__uvUt6:hover {
  color: var(--token-NEon4Y--Z);
}
.link__r271P {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__r271P:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fhryL {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__fhryL:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mZkDn {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__mZkDn:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___7GwIq {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___7GwIq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___7GwIq > :global(.__wab_flex-container) > *,
.freeBox___7GwIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7GwIq > :global(.__wab_flex-container) > picture > img,
.freeBox___7GwIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6Noxz {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__wGnR6 {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__wGnR6:hover {
  color: var(--token-NEon4Y--Z);
}
.link__lmSbd {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__lmSbd:hover {
  color: var(--token-NEon4Y--Z);
}
.link__iwZ {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__iwZ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jn7Gj {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__jn7Gj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cF80C {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__cF80C:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__qkvBp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__qkvBp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qkvBp > :global(.__wab_flex-container) > *,
.freeBox__qkvBp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qkvBp > :global(.__wab_flex-container) > picture > img,
.freeBox__qkvBp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___27QVh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__afO0B {
  position: relative;
  font-size: 14px;
  color: var(--token-VrA-2HsDzer-Cl);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__aAkjt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__qJdX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__de4P1 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__xwm57 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__nn5Wt {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-TqmwpEiIe6YPPr);
}
.freeBox__tEpnG {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-OPcIhLlJkjq482);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__tEpnG > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tEpnG {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tEpnG > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tEpnG > :global(.__wab_flex-container) > *,
  .freeBox__tEpnG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tEpnG > :global(.__wab_flex-container) > picture > img,
  .freeBox__tEpnG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__gmYj0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__piiZk {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  height: auto;
  font-size: 14px;
}
.root .link__piiZk:hover {
  text-decoration-line: underline;
}
.link__sj54M {
  position: relative;
  color: var(--token-VrA-2HsDzer-Cl);
  font-size: 14px;
}
.root .link__sj54M:hover {
  text-decoration-line: underline;
}
.text__l4LdF {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-VrA-2HsDzer-Cl);
}
.freeBox__hVTm {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hVTm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hVTm > :global(.__wab_flex-container) > *,
.freeBox__hVTm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hVTm > :global(.__wab_flex-container) > picture > img,
.freeBox__hVTm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__zbeR0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vX7Rb {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__vX7Rb:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__ilw8B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wQNa {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__wQNa:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__ejhG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xvWzp {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__xvWzp:hover {
  color: var(--token-dph1wZ7NjV9);
}
