.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___4CSdO {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OPcIhLlJkjq482);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox___4CSdO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4CSdO > :global(.__wab_flex-container) > *,
.freeBox___4CSdO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4CSdO > :global(.__wab_flex-container) > picture > img,
.freeBox___4CSdO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4CSdO {
    width: 100%;
    height: auto;
    max-width: var(--token-OPcIhLlJkjq482);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4CSdO > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4CSdO > :global(.__wab_flex-container) > *,
  .freeBox___4CSdO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4CSdO > :global(.__wab_flex-container) > picture > img,
  .freeBox___4CSdO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__lLlye {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__lLlye > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lLlye > :global(.__wab_flex-container) > *,
.freeBox__lLlye > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lLlye > :global(.__wab_flex-container) > picture > img,
.freeBox__lLlye
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLlye {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLlye > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lLlye > :global(.__wab_flex-container) > *,
  .freeBox__lLlye > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lLlye > :global(.__wab_flex-container) > picture > img,
  .freeBox__lLlye
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__t06Td {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__tslk7 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tslk7 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__iOwjs {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iOwjs {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___8PvIf {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8PvIf {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox___25M {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___25M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___25M > :global(.__wab_flex-container) > *,
.freeBox___25M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___25M > :global(.__wab_flex-container) > picture > img,
.freeBox___25M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__ewre9:global(.__wab_instance) {
  position: relative;
}
.svg___1GIm6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__r4FjT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__flVj9:global(.__wab_instance) {
  position: relative;
}
.svg___2Ig7Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___0BQww {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__swVyt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img___0EsM {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___0EsM > picture > img {
  object-fit: cover;
}
.img___0EsM > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__sMgFr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sMgFr {
    width: 100%;
  }
}
.freeBox___3Hfhz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___3Hfhz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___3Hfhz > :global(.__wab_flex-container) > *,
.freeBox___3Hfhz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Hfhz > :global(.__wab_flex-container) > picture > img,
.freeBox___3Hfhz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Hfhz {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Hfhz > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__lZlHm {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__gfVfC {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__xAu3G:global(.__wab_instance) {
  position: relative;
}
.svg__bby2 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__qkKrz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__d264:global(.__wab_instance) {
  position: relative;
}
.svg___6JYAv {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gvUr {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bUeyv:global(.__wab_instance) {
  position: relative;
}
.svg__nm94 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gYVtF {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column___8Z8N0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8Z8N0 {
    width: 100%;
  }
}
.img__bjWam {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bjWam > picture > img {
  object-fit: cover;
}
.img__bjWam > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox___32Fn5 {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___32Fn5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___32Fn5 > :global(.__wab_flex-container) > *,
.freeBox___32Fn5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___32Fn5 > :global(.__wab_flex-container) > picture > img,
.freeBox___32Fn5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__x2TmD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xxMZ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-AmtCkMABwI8obP);
}
.svg__teqY {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__dvUy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fMgik {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-AmtCkMABwI8obP);
}
.svg___2TKW {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__vrIkn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1S8Ko {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-AmtCkMABwI8obP);
}
.svg__qbTph {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__uk8NS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kAw0E {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-AmtCkMABwI8obP);
}
.svg__dgLhw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qN4M:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__v2G6C {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-AmtCkMABwI8obP);
}
.svg__vAh0P {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yfNjW:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qTKei {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-AmtCkMABwI8obP);
}
.svg__vusev {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-TqmwpEiIe6YPPr);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__eSYuq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eSYuq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__eSYuq > :global(.__wab_flex-container) > *,
.freeBox__eSYuq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eSYuq > :global(.__wab_flex-container) > picture > img,
.freeBox__eSYuq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__a7Zkh {
  flex-direction: row;
  display: flex;
}
.freeBox__a7Zkh > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__a7Zkh > :global(.__wab_flex-container) > *,
.freeBox__a7Zkh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a7Zkh > :global(.__wab_flex-container) > picture > img,
.freeBox__a7Zkh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__ktd7O {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__cEKa8 {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__cqKwC {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__h1YqC {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__vjfRb {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
