.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__rllBe {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OPcIhLlJkjq482);
  display: flex;
  min-width: 0;
}
.freeBox__rllBe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__rllBe > :global(.__wab_flex-container) > *,
.freeBox__rllBe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rllBe > :global(.__wab_flex-container) > picture > img,
.freeBox__rllBe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___2Tb7W {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___2Tb7W > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___2Tb7W > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___2Tb7W > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___2Tb7W > :global(.__wab_flex-container) > *,
.columns___2Tb7W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___2Tb7W > :global(.__wab_flex-container) > picture > img,
.columns___2Tb7W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2Tb7W {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2Tb7W > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2Tb7W > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2Tb7W > :global(.__wab_flex-container) > *,
  .columns___2Tb7W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___2Tb7W > :global(.__wab_flex-container) > picture > img,
  .columns___2Tb7W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__sY6Ho {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sY6Ho {
    width: 100%;
  }
}
.freeBox__p28It {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__p28It > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__p28It > :global(.__wab_flex-container) > *,
.freeBox__p28It > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p28It > :global(.__wab_flex-container) > picture > img,
.freeBox__p28It
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p28It {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p28It > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__mVY9 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__fsoYy {
  position: relative;
  text-align: left;
}
.bullet___3MUz6:global(.__wab_instance) {
  position: relative;
}
.bullet__xrqLg:global(.__wab_instance) {
  position: relative;
}
.bullet__ynEi:global(.__wab_instance) {
  position: relative;
}
.text__hwQf7 {
  position: relative;
  text-align: left;
}
.freeBox__qZDvh {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__qZDvh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__qZDvh > :global(.__wab_flex-container) > *,
.freeBox__qZDvh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qZDvh > :global(.__wab_flex-container) > picture > img,
.freeBox__qZDvh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qZDvh {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qZDvh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qZDvh > :global(.__wab_flex-container) > *,
  .freeBox__qZDvh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qZDvh > :global(.__wab_flex-container) > picture > img,
  .freeBox__qZDvh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__ixq80:global(.__wab_instance) {
  position: relative;
}
.svg___5NlK8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__l1Wvz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gUSm7:global(.__wab_instance) {
  position: relative;
}
.svg___3NxW4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jg3Ao {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__tAAgc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tAAgc {
    width: 100%;
  }
}
.img__karSp {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__karSp > picture > img {
  object-fit: cover;
}
.img__karSp > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__kai0V {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__kai0V > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__kai0V > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__kai0V > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__kai0V > :global(.__wab_flex-container) > *,
.columns__kai0V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kai0V > :global(.__wab_flex-container) > picture > img,
.columns__kai0V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kai0V {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kai0V > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kai0V > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kai0V > :global(.__wab_flex-container) > *,
  .columns__kai0V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kai0V > :global(.__wab_flex-container) > picture > img,
  .columns__kai0V
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__e3Bxp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__e3Bxp {
    width: 100%;
  }
}
.img___9OEnM {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img___9OEnM > picture > img {
  object-fit: cover;
}
.img___9OEnM > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__geiUk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__geiUk {
    width: 100%;
  }
}
.freeBox__ylpBz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ylpBz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ylpBz > :global(.__wab_flex-container) > *,
.freeBox__ylpBz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ylpBz > :global(.__wab_flex-container) > picture > img,
.freeBox__ylpBz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ylpBz {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ylpBz > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__viKms {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text___71SC {
  position: relative;
  text-align: left;
}
.bullet__h6BDh:global(.__wab_instance) {
  position: relative;
}
.bullet__fgagq:global(.__wab_instance) {
  position: relative;
}
.bullet__ieKYk:global(.__wab_instance) {
  position: relative;
}
.text__tWepd {
  position: relative;
  text-align: left;
}
.freeBox__w5Dtn {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__w5Dtn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__w5Dtn > :global(.__wab_flex-container) > *,
.freeBox__w5Dtn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w5Dtn > :global(.__wab_flex-container) > picture > img,
.freeBox__w5Dtn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w5Dtn {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w5Dtn > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w5Dtn > :global(.__wab_flex-container) > *,
  .freeBox__w5Dtn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w5Dtn > :global(.__wab_flex-container) > picture > img,
  .freeBox__w5Dtn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___1MxWf:global(.__wab_instance) {
  position: relative;
}
.svg__lqP5K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__maQwe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eTQy:global(.__wab_instance) {
  position: relative;
}
.svg__cv3Mg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uvvmg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
